NODE_ENV=development
DATABASE_URL=postgres://root:mysecretpassword@localhost:5433/local

OWNER_OSU_USER_ID=

REDIS_HOST=localhost
REDIS_PORT=6379
# Leave empty for development, optional for production
REDIS_PASSWORD=

# osu! credentials
OSU_REDIRECT_URI=http://localhost:3000/api/auth/callback/osu
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

# Discord credentials
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/callback/discord
