NODE_ENV=development
DATABASE_URL=postgres://root:mysecretpassword@localhost:5433/local

OWNER_OSU_USER_ID=

REDIS_HOST=localhost
REDIS_PORT=6379
# Leave empty for development, optional for production
REDIS_PASSWORD=

# osu! credentials
OSU_REDIRECT_URI=http://localhost:3000/api/auth/callback/osu
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

# Discord credentials
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/callback/discord

# S3 client credentials
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT_URL=
# RustFS default region (for local development) - cn-east-1
S3_REGION=
